/* - - - - - - - - - - - - - - - - - - - - -

Title : AuthorWatcher
Author : Kevin Old
URL : http://www.authorwatcher.com

Description : AuthorWatcher Main CSS

Created : 2006-06-29
Modified : $LastChangedDate$

Colors:
#6F82B8 - Light Blueish/Purple
#404C6B - Slate/Dark Blue
#B8B8B8 - Lightest Gray
#6B6B6B - Med Dark Gray
#474747 - Dark Gray

- - - - - - - - - - - - - - - - - - - - - */

/* ----- CSS ----- */

*{
margin: 0;
padding: 0;
font-family: Verdana;
font-size: 12px;
}
html{
margin: 0;
padding: 0;
background: #fff;
}
body{
margin: 0;
padding: 0;
background: #fff;
}

/* ----- IDS ----- */

#container{
width: 850px;
margin: 10px;
padding: 10px;
background: #fff;
text-align: left;
}
#primaryContent{
position: relative;
float: left;
width: 350px;
margin: 0;
padding: 10px;
background: #fff;
text-align: left;
}
#secondaryContent{
position:;
float:;
width:;
margin:;
padding:;
background:;
text-align:;
}
#navigation{
width: 880px;
height: 145px;
margin: 0 0 0 20px;
padding: 0;
}
#footer{
margin: 0;
padding: 0;
/*clear:;*/
}

/* ----- CLASSES ----- */

.hide{
/* display:none; */
}
.show{
/* display:block; */
}

/* ----- HEADINGS ----- */

h1{
font:;
font-size:;
font-weight:;
color:;
margin:;
padding:;
}
h2{
font:;
font-size:;
font-weight:;
color:;
margin:;
padding:;
}
h3{
font:;
font-size:;
font-weight:;
color:;
margin:;
padding:;
}
h4{
font:;
font-size:;
font-weight:;
color:;
margin:;
padding:;
}

/* ----- PARAGRAPHS ----- */

p{
font:;
color:;

font-size:;
font-family:;
font-style:;
font-weight:;
font-variant:;

text-align:;
text-indent:;
text-decoration:;
text-shadow:;
text-transform:;

letter-spacing:;
word-spacing:;
}
#primaryContent p{
}
#secondaryContent p{
}

/* ----- QUOTES ----- */

blockquote{
margin:;
padding:;
background-color:;
font:;
color:;
}
blockquote p{
}
cite{
font:;
color:;
}
blockquote cite{
}

/* ----- CODE ----- */

pre{
margin:;
padding:;
background-color:;
border:;
font-size:;
overflow:;
}
code{
font-size:;
}
p code{
}
pre code{
}

/* ----- LISTS ----- */

li{
list-style:;

list-style-type:;
list-style-image:;
list-style-position:;
float:;
margin:;
padding:;
}
li p{
}
ol{
width:;
margin:;
padding:;
}
ul{
width:;
margin:;
padding:;
}
ol li{
}
ul li{
}

#navigation li{
}

#navigation ul{
}

#navigation ul li{
}

#navigation ol{
}

#navigation ol li{
}

/* ----- IMAGES ----- */

img {
border: 0;
}
img .smallimg {
border: 0;
float: left;
padding: 20px;
}
img a{
border:;
text-decoration:;
}
img a:hover{
border:;
}

/* BREAK */

hr{
/* display:none; */
}

/* ----- TEXT FORMATTING ----- */

strong{
}
em{
}
b{
}
i{
}

/* ----- LINKS ----- */

a{
font:;
color:;
text-decoration:;
border-bottom:;
}
a:hover{
color:;
background-color:;
border-bottom:;
}
a:visited, a:active, a:focus{
color:;
background-color:;
border-bottom:;
}
a:visited{
color:;
background-color:;
border-bottom:;
}
a:active{
color:;
background-color:;
border-bottom:;
}
a:focus{
color:;
background-color:;
border-bottom:;
}

p a{
}
cite a{
}
li a{
}
dt a{
}
dd a{
}

/* ----- TABLES ----- */

table{
width:;
margin:;
padding:;
frame:;
text-align:;
}
caption{
font:;
color:;
position:;
text-align:;
display:;
}
thead{
font:;
color:;
text-align:;
background-color:;
margin:;
padding:;
}
tbody{
font:;
color:;
text-align:;
background-color:;
margin:;
padding:;
}
tfoot{
font:;
color:;
text-align:;
background-color:;
margin:;
padding:;
}
tr{
font:;
color:;
background-color:;
}
tr .alt{
font:;
color:;
background-color:;
}
th{
}
td{
width:;
margin:;
padding:;
}

/* ----- FORMS ----- */

form{
width:;
margin:;
padding:;
}
fieldset{
border:;
width:;
margin:;
padding:;
}
legend{
font:;
color:;
margin:;
padding:;
}
label{
margin:;
padding:;
font-size:;
font-family:;
}
input{
border:;
margin:;
padding:;
font-size:;
font-family:;
}
textarea{
border:;
margin:;
padding:;
font-size:;
font-family:;
}
input, textarea{
}
select{
border:;
margin:;
padding:;
font-size:;
font-family:;
}
optgroup{
font:;
}
option{
font:;
}

/* ----- DEFINITIONS ----- */

dl{
font-size:;
margin:;
padding:;
}
dt{
color:;
margin:;
padding:;
}
dd{
color:;
margin:;
padding:;
}
