/*================================================================
Colors from Authorwatcher logo
#f1f1f3 - Lightest Gray
#e8e8ea - Light Gray
#0572C4 - "Authorwatcher" Blue

From http://colorblender.com/?preloadblend=6F82B8404C6BB8B8B86B6B6B474747B8B8B8

#0572C4 - "Authorwatcher" Blue
#044578 - Darker Blue
#C49806 - Burnt Orange/Yellow
#784904 - Brown
#3B3B3B - Dark Gray
#C4C4C4 - Light Gray

Slayeroffice.com color palette for "Authorwatcher" Blue
http://slayeroffice.com/tools/color_palette/?hex=0572C4

0572C4 - Authorwatcher Blue
4496D3 - lighter blue
83B9E2 - even lighter blue
C0DCF0 - even lighter blue 
E7F1FA - lightest blue
0461A7 - darker than AW blue
045693 - even darker blue
033962 - even darker
011D31 - blue/black
010B14 - almost black

Slayeroffice.com color palette for "Authorwatcher" Brown
http://slayeroffice.com/tools/color_palette/?hex=784904

784904 - Authorwatchr Brown
9A7743 - lighter brown
BCA582 - even lighter brown
DDD1C0 - even lighter brown
F2EDE6 - lightest brown
663E03 - darker than AW brown
5A3703 - even darker brown
3C2502 - even darker
1E1201 - brown/black
0C0700 - almost black

================================================================*/

body { 
    margin:0; 
    padding:0;
    font: normal 12px arial;
    color: #2C3041;
    background: #fff url(/static/images/back_cont.jpg) repeat-x;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*
#logo { 
    background: url(/images/header.jpg);
    height:134px; 
    width:750px;
    border-bottom: 1px dotted #fff;
}
*/

#hd {
    border-bottom: #784904 5px solid;
    height: 80px;
}
/* authorwatchr logo */
#hd h2 {
    background: transparent url("/static/images/logo_circle_small_trans.png") no-repeat scroll 0%;
    color:#0572C4;
    margin: 0 0 0 10px;
    padding: 20px 0 0 70px;
    height: 65px;
    font:lighter 34px arial;
    letter-spacing: 2px;
    float: left;
}

#hd b {
    color: #784904;
    font-weight: normal;
}

.no_image {
    padding: 5px;
    width: 49px;
    height: 75px;
    vertical-align: center;
    border: 1px solid #ccc;
}

/* Base Link Styles */

a:link, a:active, a:visited  {
    color: #0572C4;
    text-decoration:none;
}
    
a:hover {
    color:#OOO; 
    text-decoration:underline;
}

a.blue_btn {
    color: #fff;
    background: #0572C4;
    border:1px solid #A3BAD1;
    font:normal 11px arial;
    text-decoration:none;
    padding:3px 5px 3px 5px;
    margin:0px;
    height:20px;
}

a:hover.blue_btn {
    background: #4496D3;
    text-decoration:none;
}

a.feed_btn {
    background: transparent url("/static/images/feed-icon-14x14.png") no-repeat scroll 0%;
    padding:0 0 0 16px;
}

/* Results header */

#results_header {
    text-align: right;
    margin: 0 0 5px 0;
}

#results_header h2 {
    color: #9A7743;
    text-transform: uppercase;
    display: inline;
    float: left;
}

/* Author results */

#author_results {
    /*background: #E7F1FA;*/
               /*83B9E2 - even lighter blue*/
               /*C0DCF0 - even lighter blue */
               /*E7F1FA - lightest blue*/
    border: 2px solid #E7F1FA;
    padding: 2px;
}

#author_results ul {
    margin: 0;
    padding: 0;
}

#callist li {
    border-bottom:1px solid #E8E8E8;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:10px;
}

#author_results li h2 {
  margin: 10px 0 20px 0;
  color: #000;
  font-size: 16px;
  display: inline;
}

#author_results li img {
    float: left;
    margin: 0 20px 10px 10px;
}

/*
#author_results .result {
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #999;
    background: #fff;
    padding: 15px 0 10px 0;
}


#author_results .result p {
    margin:0;
    line-height: 15px;
}

#author_results .result p.moreInfo {
    height:auto;
}
*/

/* nav bar */
#nav {
    /*background: #fff url(/images/nav_bar_bg.gif) repeat-x;*/
    float: right;
    padding: 30px 0 0 0;
}

#nav ul {
  list-style: none;
	display: inline;
    /*float: right;*/
	/*background: #C4C4C4;*/
	margin: 0;
	padding-right: 20px;
}

#nav li {
	width: 70px;
	margin: 0;
	padding: 0;
  display: block;
  float: left;
  position: relative;
}


/* NAV LINKS
#784904 - Brown
#3B3B3B - Dark Gray
----------------------------------------------------------------*/
#nav a:link, 
#nav a:visited { 
  display: block;
	height: 20px;
	font-weight: bold;
	font-size: 13px;
	padding-top: 2px;
	color: #784904;
	text-decoration: none;
	text-align: center;
	/*border-bottom: 1px dashed #C4C4C4;*/
    padding: 2px;
}

#nav a:hover {
  /*background: #EEE;*/
  color: #C49806;
}


/* Footer */
#ft { 
    border-top: 1px dotted #ccc;
    background: #fff;
    clear: both;
    font-size: 12px;
    margin-top: 10px;
    padding: 14px 14px 8px !important;
    text-align: right;
}

#ft .copyrightinfo {
    display: inline;
    float: left;
    text-align: left;
    color: #0572C4;
}

#ft span {
    padding: 0px 5px;
    color: #0572C4;
}

#ft a, #ft a:hover {
    color: #0572C4;
    text-decoration:none;
    border-bottom: 1px dotted #0572C4;
}

/* Signup */
#signup { 
    width:600px; 
    margin:0 auto; 
    padding:0; 
    font:normal 12px arial; 
    }

#signup fieldset { 
    padding: 30px; 
    border:1px solid #ccc;
    }

#signup ul { 
    margin:0; 
    padding: 0 0 0 45px;
    }

#signup li { 
    list-style:none; 
    padding:15px 0; 
    }

#signup label { 
    display:block;
    width:175px; 
    float:left; 
    font-weight:bold;
    padding-right: 5px;
}
#signup input {
    width: 150px;
}

#signup input[type="submit"] {
    width: auto; 
    margin:15px 0 0 0;
    }

#signup span {
    padding-left: 10px;
    font-weight: bold;
}

#signup span.valid {
    color: green;
}

#signup span.error {
    color: red;
}
/*
#signup input[name="full_listing_url"] {
    width:330px;
    }
*/


/* My Authors box */

#ma_box {
    display: none;
}

#ma_box ul {
    list-style: none;
}

#ma_box li {
    float: left;
    padding: 5px;
}

/* Search bar */

#search_bar {
    padding: 10px 0 20px 300px;
}

#search_bar input[type="text"] {
    background:#FFFFFF;
    border-color:#AFAB81 #D8D5B4 #D8D5B4 #AFAB81;
    border-style:solid;
    border-width:1px;
    color:#767676;
    float:left;
    font-size:1.2em;
    height:18px;
    padding:4px 2px;
}

#search_bar input[type="submit"] {
    margin: 5px;
}

.fp_authors_box {
    float: left;
    padding: 20px 20px 0 0;
}
