#signup { 
    width:600px; 
    margin:0 0 15px 0; 
    padding:0; 
    font:normal 12px arial; 
    float:left;}

#signup fieldset { 
    padding:15px 20px 15px 20px; 
    border:1px solid #ccc;
    }

#signup ul { 
    margin:0; 
    padding:0;
    }

#signup li { 
    list-style:none; 
    padding:8px 0 8px 0; 
    border-bottom:1px dotted #ccc;
    }

#signup label { 
    display:block; width:200px; 
    float:left; 
    font-weight:bold;}

#signup input[type="submit"] {
    margin:15px 0 0 0;
    }
/*
#signup input[name="full_listing_url"] {
    width:330px;
    }
*/
