/*================================================================
LAYOUT stylesheet for the website.

Define layout and backgrounds for:
  - Body
  - Wrapper
  - Header
  - Sidebar
  - Content
  - Footer
  ( Navigation is defined in nav.css )
  
  ***  NO TYPOGRAPHY STYLES HERE PLEASE  ***
  
================================================================*/


/* BODY 
----------------------------------------------------------------*/
body {
  background: #fff;
}


/* WRAPPER
----------------------------------------------------------------*/
#wrapper {
  clear: both; 
  /*width: 880px;*/
  height: auto;
  margin: 0 auto;
  /*border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;*/
  background: white;
}


/* HEADER
----------------------------------------------------------------*/
#header {
  /*background: #fff url(/static/images/aw_bg4.gif) repeat-x;
  border-bottom: 2px solid white;
  border-top: 1px solid white;*/

  background: #0572C4;
  /*background: #fff url(/static/images/header_bg.png) repeat-x;*/
  /*width: 400px;*/
  height: 50px;
  /*color: #fff;*/
  /*border-bottom: 5px solid #0572C4;
  height: 110px;*/
}


/* SIDEBAR
----------------------------------------------------------------*/
#sidebar {
  float: right;
  width: 100px;
  /*background: #e8e8ea;
  padding: 16px;
  margin: 40px 50px 0 0;*/
}


/* CONTENT
----------------------------------------------------------------*/
#content {
  float: left;
  width: 600px;
  margin: 0 auto 20px auto;
  padding: 16px 0;
  text-align: left;
}


/* FOOTER
----------------------------------------------------------------*/
#footer {
  clear: both;
  background: #0572C4;
  height: 50px;
}
