/*================================================================
LAYOUT stylesheet for the website.

Define layout and backgrounds for:
  - Body
  - Wrapper
  - Header
  - Sidebar
  - Content
  - Footer
  ( Navigation is defined in nav.css )
  
  ***  NO TYPOGRAPHY STYLES HERE PLEASE  ***
  
================================================================*/


/* BODY 
----------------------------------------------------------------*/
body {
  background: #fff;
}


/* WRAPPER
----------------------------------------------------------------*/
#wrapper {
  clear: both; 
  width: 880px;
  margin: 0 auto;
  /*border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;*/
  background: white;
}


/* HEADER
----------------------------------------------------------------*/
#header {
  /*background: #fff;*/
  height: 110px;
}


/* SIDEBAR
----------------------------------------------------------------*/
#sidebar {
  float: right;
  background: #e8e8ea;
  width: 100px;
  padding: 16px;
  margin: 40px 20px 0 20px;
}


/* CONTENT
----------------------------------------------------------------*/
#content {
  float: left;
  width: 700px;
  margin: 0 auto 20px auto;
  padding: 16px 0;
  text-align: left;
}


/* FOOTER
----------------------------------------------------------------*/
#footer {
  clear: both;
  background: #0572C4;
  height: 30px;
  /*margin-bottom: 5px;*/
}
