/*================================================================
NAV stylesheet for the website.

Define all aspects (layout AND typography) of:
  - Nav (ul)
  - Nav List Items (li)
  - Nav Links
  - Current Page Definitions
  
#0572C4 - "Authorwatcher" Blue
#044578 - Darker Blue
#C49806 - Burnt Orange/Yellow
#784904 - Brown
#3B3B3B - Dark Gray
#C4C4C4 - Light Gray

================================================================*/


/* NAV (ul)
----------------------------------------------------------------*/
#nav ul {
  list-style: none;
	display: inline;
    float: right;
	/*background: #C4C4C4;*/
	margin: 0;
	padding-right: 20px;
}


/* NAV LIST ITEMS (li)
----------------------------------------------------------------*/
#nav li {
	width: 70px;
	margin: 0;
	padding: 0;
  display: block;
  float: left;
  position: relative;
}


/* NAV LINKS
#784904 - Brown
#3B3B3B - Dark Gray
----------------------------------------------------------------*/
#nav a:link, 
#nav a:visited { 
  display: block;
	height: 20px;
	font-weight: bold;
	font-size: 13px;
	padding-top: 2px;
	color: #784904;
	text-decoration: none;
	text-align: center;
	/*border-bottom: 1px dashed #C4C4C4;*/
    padding: 2px;
}

#nav a:hover {
  /*background: #EEE;*/
  color: #C49806;
}
  
#footer ul {
    list-style: none;
    display: inline;
}

#footer li {
	width: 70px;
	margin: 0;
	padding: 0;
    display: block;
    float: left;
    position: relative;
}

#footer a:link, 
#footer a:visited { 
    display: block;
	height: 20px;
	font-weight: bold;
	font-size: 13px;
    color: #fff;
	text-decoration: none;
	text-align: center;
}

#footer a:hover {
    text-decoration: underline;
}

/* CURRENT PAGE INDICATORS
-----------------------------------------------------------------
 If you define your body id's and also set each nav link to a 
 class of the same name, then you have a very handy method of
 defining the style for nav buttons relative to the current page.
----------------------------------------------------------------*/
body#home a:link.home, body#home a:visited.home,
body#contact a:link.contact, body#contact a:visited.contact {
  background: white;
  color: #666;
}
