/*================================================================
The MAIN stylesheet for the website.

Define SITE-WIDE styles:
  - General Typography
  - Header Content
  - Sidebar Content
  - Forms
  - Tables
  - Footer
  - Sitewide Custom Definitions

Colors from Authorwatcher logo
#f1f1f3 - Lightest Gray
#e8e8ea - Light Gray
#0572C4 - "Authorwatcher" Blue

From http://colorblender.com/?preloadblend=6F82B8404C6BB8B8B86B6B6B474747B8B8B8

#0572C4 - "Authorwatcher" Blue
#044578 - Darker Blue
#C49806 - Burnt Orange/Yellow
#784904 - Brown
#3B3B3B - Dark Gray
#C4C4C4 - Light Gray

================================================================*/

@import url("base.css");
@import url("layout.css");
@import url("nav.css");


/* GENERAL TYPOGRAPHY (Standard HTML tags)
----------------------------------------------------------------*/
html, body {
  /*font-family: verdana, helvetica, sans-serif;*/
  font-family: Arial, sans-serif;
  color: black;
}

h1 {
  color: green;
  margin: 26px 0 16px 0;
  padding: 3px 0;
  font-size: 26px;
  border-bottom: 1px dotted #666;
}

h2 {
  color: #999;
  margin: 26px 0 6px 0;
  font-size: 18px;
}

p {
  margin: 10px 0 6px 0;
  font-size: small;
}

a:link, a:visited {
  color: blue;
}

a:hover {
  /*background: #EEE;*/
}


/* HEADER CONTENT
----------------------------------------------------------------*/
#header h1 {
  margin: 0 20px;
  padding: 20px 0; 
  color: white;
  font-weight: normal;
  font-size: 24px;
}
#header h1 em {
  color: yellow;
  /*font-family: georgia;*/
  font-weight: bold;
  font-size: 28px;
}


/* SIDEBAR CONTENT
----------------------------------------------------------------*/

#sidebar {
    border: 1px solid #000;
}

#sidebar h2 {
  color: #222;
  margin-top: 0;
}
#sidebar p {
  font-size: small;
}

#sidebar #my_authors {
  font-size: small;
}

#sidebar #my_authors ul {
    list-style: none; 
    /*margin: 0;*/
}

#sidebar #my_authors li {
    width: 100px;
    border: 1px solid #000;
}

/* CONTENT
----------------------------------------------------------------*/
#content #searchbar {
    height: 43px;
    width: 533px;
    background: #fff url("/static/images/searchbar_for_go.jpg") no-repeat left;
    float: left;
}

#content #searchbar label {
    color: #3B3B3B;
    font-weight: bold;
    font-size: 18px;
    /*font-family: Verdana;*/
    letter-spacing: .06em;
    text-align: right;
    padding-top: 7px;
    width: 160px;
    margin-right: 14px;
}

#content #searchbar input[type="text"] {
    border: 2px solid #0572C4;
    height: 25px;
    width: 300px;
    margin: 8px 10px 0 25px;
    font-weight: bolder;
    font-size: 16px;
    /*font-family: Verdana;*/
    padding-left: 5px;
}
#content #searchbar_go {
    width: 62px;
    height: 43px;
    background: #fff url("/static/images/searchbar_go_over.jpg") no-repeat right;
    float: left;
}

#content #searchbar_go a {
    width: 50px;
    height: 30px;
    display: block;
    font-weight: bold;
    font-size: 18px;
    /*font-family: Verdana;*/
    color: #fff;
    text-decoration: none;
    margin: 7px 0 0 4px;
    text-align: center;
}

#content p .author_results {
    width: 70%;
    /*float: right*/
  /*font-size: small;*/
}

#content p .author_results img {
    float: left;
    padding-right: 20px;
    border: 1px solid #f1f1f3;
}

#content #author_results {
    background: #f1f1f3;
    padding: 10px;
}
/* FORMS
----------------------------------------------------------------*/
fieldset {
  border: 1px solid #AAA;
  padding: 7px;
}

fieldset p {
  margin: 4px 0;
}

legend {
  color: #999;
  font-weight: bold;
  font-size: 13px;
}

label {
  float: left;
  text-align: right;
  font-size: 13px;
  /*width: 160px;
  font-size: medium;
  margin-right: 14px;*/
}

input.text {
  /*width: 290px;*/
} 

input.textShort {
  width: 80px;
}

input.submit {
  float: right;
}


/* TABLES
----------------------------------------------------------------*/
table {
  clear: both;
  border-collapse: collapse;
  text-align: left;
}
td {
  padding: 2px 3px;
  font-size: small;
}


/* FOOTER CONTENT
----------------------------------------------------------------*/
#footer p {
  text-align: right;
  /*color: #C49806;*/
  color: #fff;
  font-size: 12px;
  margin: 5px;
}


/* SITE-WIDE CUSTOM STYLES (Your own id's and classes)
----------------------------------------------------------------*/
p.error {
  color: red;
}
