
<div id="form">
[% formbuilder.start -%]
<input id="_submitted_change_password" name="_submitted_change_password" type="hidden" value="1" />
[% FOREACH field IN formbuilder.fields -%]
<p>
    <label>
        <span [% IF field.required %]class="required"[%END%]>[%field.label%]</span>
    </label>
    [% field.field %]
    </p>
[% END %]
<div id="submit">[% formbuilder.submit %]</div>
<div id="reset">[% formbuilder.reset %]</div>
[% formbuilder.end %]
</div>

