[% META nowrap = 1 %]

<ul>
[% WHILE (auth = my_authors.next ) %]
    <li>
    <a href="/search/?author=[% auth.authors.id | urlifyauthor %]">[% auth.authors.display_name %]</a>
    </li>
[% END %]
</ul>
