<!-- search bar -->
<div id="search_bar">
    <form id="search" action="/search/" method="get"> 
        <label for="author">Author's Name</label>
        <input type="text" name="author" id="author" value="john grisham" size="20" /> 
        <input type="submit" value="Submit" /> 
    </form>
</div>
